[user]
	name = adamgate
	email = applegateadaml@gmail.com

[core]
	editor = code --wait

[web]
	browser = firefox

[fetch]
	prune = true

[alias]
	co = checkout
	br = branch
	ci = commit
	st = status
	ba = branch -a
	fp = fetch -p
	prb = pull --rebase
