[user]
	name = adamapplegate
	email = applegateadaml@gmail.com
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[alias]
	co = checkout
	br = branch
	ci = commit
	st = status
	ba = !git branch -a
	fp = !git fetch -p
	prb = !git pull --rebase
