[user]
	name = adamgate
	email = applegateadaml@gmail.com

[web]
	browser = firefox

[alias]
	co = checkout
	br = branch
	ci = commit
	st = status
	ba = !git branch -a
	fp = !git fetch -p
	prb = !git pull --rebase
