:root {
    --red-primary:    #f85552;
    --orange-primary: #f57d26;
    --yellow-primary: #dfa000;
    --green-primary:  #8da101;
    --blue-primary:   #3a94c5;
    --cyan-primary:   #35a77c;
    --purple-primary: #df69ba;
    
    --red-secondary:    #d2413e;
    --orange-secondary: #d06517;
    --yellow-secondary: #bd8500;
    --green-secondary:  #768800;
    --blue-secondary:   #2d7eab;
    --cyan-secondary:   #288d67;
    --purple-secondary: #bd549c;
    
    --bg-primary:   #fffbef;
    --bg-secondary: #f2efdf;
}