:root {
    --red_light:   #f85552;
    --orange_light:#f57d26;
    --yellow_light:#dfa000;
    --green_light: #8da101;
    --blue_light:  #3a94c5;
    --cyan_light:  #35a77c;
    --purple_light:#df69ba;
    --gray_light:  #A6B0a0;
    
    --red_dark:   #d2413e;
    --orange_dark:#d06517;
    --yellow_dark:#bd8500;
    --green_dark: #768800;
    --blue_dark:  #2d7eab;
    --cyan_dark:  #288d67;
    --purple_dark:#bd549c;
    --gray_dark:  #829181;
    
    --bg_primary:  #fffbef;
    --bg_secondary:#f2efdf;

    --fg_primary:   #5c6a72;
    --fg_secondary: #708089;
}